<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="defaultTimerDelay" value="60000"/>
  </appSettings>
  <connectionStrings>
    <add name="CardDeliveryConnectionString" connectionString="xBe9HSZttNSDhT1ry0L7/QC99HI24aKM44jcse/JcIq21O87t1zL1tO8wdX2uas6yYhQfOiIvDRm0MP8nM/mEbmmKq448IKud15CFRPy5FXd0FeTHVPoyMNsU9jK/AoKdTQedmjuU/SwdpPoFik72yhPoxnYTeJ8Jrgv3WUBeHtblDWiajzNoGk/0suvWtyRWqPpXiVg6Oww/1XC4TocIkV5zIcURv6YpfilE4NcJTMImchl2EREGIUEgbFkWcYL" providerName="System.Data.SqlClient"/>
    <add name="LogsConnectionString" connectionString="xBe9HSZttNSDhT1ry0L7/QC99HI24aKM44jcse/JcIq21O87t1zL1tO8wdX2uas6yYhQfOiIvDRm0MP8nM/mEbmmKq448IKud15CFRPy5FXd0FeTHVPoyMNsU9jK/AoKdTQedmjuU/SwdpPoFik72yhPoxnYTeJ8Jrgv3WUBeHtblDWiajzNoGk/0suvWtyRWqPpXiVg6Oww/1XC4TocIkV5zIcURv6YpfilE4NcJTMImchl2EREGIUEgbFkWcYL" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>

